* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
}

.container {
    width: 100%;
    min-height: 100vh;
}

.list__cell {
    flex-basis: calc(25% - 40px);
    min-height: 30px;
    margin: 20px;
    list-style: none;
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: #f0f2f5;
}

h1 {
    text-align: center;
    color: dodgerblue;
}

p {
    width: 400px;
    line-height: 30px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    text-indent: 40px;
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none;
}

.riddle{
    text-align: center;
}

/*git config --global user.name "Madina"*/
/*git config --global user.email "madinanuriddinova949@gmail.com"*/
/*git init*/
/*git add .*/
/*git commit -m "DZ"*/
/*git branch -M main*/
/*git remote add origin https://github.com/fghtjtey/DZ.git*/
/*                              git push -u origin main*/


